<div class="mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-success" [routerLink]="['/customersNew']">Nuevo</button>
</div>

<table class="table table-sm mt-3">
    <div class="table-responsive">
        <table class="table align-middle table-hover table-striped">
            <thead class="table-light">
                <tr>
                    <th scope="col">Doc.</th>
                    <th scope="col">Número</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
            <tbody>
                <tr class="table-light" *ngFor="let customer of customers | async">
                    <th scope="row">{{customer.docType}}</th>
                    <td>{{customer.docNum}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" >
                            
                            <button type="button" class="btn btn-outline-primary" (click)="onDetails(customer)">
                                <i class="fas fa-eye"></i>
                            </button>

                            <button mat-flat-button type="button" class="btn btn-outline-danger" (click)="onDelete(customer.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</table>